---

---

<div class="nav-links" transition:animate="slide">
  <a href="/">Inicio</a>
  <a href="/about/" data-astro-reload>Sobre mí</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Indice de etiquetas</a>
</div>
